.top-content{
    width: fit-content;
    margin: 4.25rem auto 2.5rem;
    box-shadow: 0 2px 21px 0 #0000000f;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem;
}

.top-content-span{
    background-color: #e6f8f3;
    color: #10b683;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 0;
   
}

@media (max-width: 1024px){
    .section{
        flex-direction: column;
    }
}

 @media (max-width: 450px){
  .top-content{
    width: fit-content;
    margin: 4.25rem auto 2.5rem;
    box-shadow: 0 2px 21px 0 #0000000f;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1.5rem 1rem;
}

.top-content-span{
    background-color: #e6f8f3;
    color: #10b683;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
   
 }

  @media (max-width: 320px){
  .top-content{
    
    flex-direction: column;
    
}

.top-content-span{
    padding: 0.5rem 1rem;
}
   
 }
