.container {
  text-align: center;
  margin: auto;
  max-width: 100%;
  width: 1200px;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-wrapper {
  width: 400px;
  padding: 1rem;
}

.form-wrapper h1{
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.email-field,
.password-field {
  width: 100%;
}

.error-field{
  color: red;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  background: #f6f7f9;
   color: #6c7884;
  border: 1px solid #edeff1;
  outline: none;
}

input::placeholder {
  color: #6c7884;
}

.btn-submit{
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}

.form-wrapper span,
.form-wrapper span a{
  font-size: 1.3rem;
  color: #6c7884;
}


/* dashboard */
.home-container{
  max-width: 100%;
  height: 100%;
  background-color: #dfe7fd;
  padding: 20px;
}

.dashboard-nav{
  max-height: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;

}

  .home-logo {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);

    width: 240px;
    height: 70px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .nav-title{
    background-color: #fff;
    color:#495057;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
    margin-left: 60px;
    border-radius: 3px;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
  }

  @media (max-width:390px){
    .dashboard-nav{
  max-height: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;

}
.home-logo {
  

    width: 200px;
    height: 70px;
   
    
  }
.nav-title{
   
    margin-left: 10px;
   
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  }